<head>
	<script src="https://apis.google.com/js/client.js?onload=on_gapi_load"></script>
	<script src="/js/d3.v2.min.js" type="text/javascript" charset="utf-8"></script>
</head>

<template name="google_analytics">
	<div class="google-analytics panel">
		<h3><a href="http://goodtohear.co.uk/happiness" target="_blank">goodtohear.co.uk</a></h3>
		<div class="total">
			<a href="http://goodtohear.co.uk/happiness" target="_blank"><strong></strong>visits		</a>
		</div>
		<div class="visits chart"></div>
	</div>
	{{! masonry }}
</template>